/* Typography */
@font-face{
	font-family: lato-light;
	src: url('Lato-Lig.ttf');
}

@font-face{
	font-family: lato-ultra-light;
	src: url('Lato-Hai.ttf');
}

@font-face{
	font-family: lato;
	src: url('Lato-Reg.ttf');
}

/* Global styles */
* {
	margin: 0 auto;
	letter-spacing: 1px;
	color: #b4b3b3;
}

body {
	font-family: 'lato-light', helvetica, sans-serif;
	font-size: 16px;
	background-color: #eee;
}

body,html {
	height: auto;
	min-height: 100%;
}

nav {
	width: 76.5%;
	background: rgb(246,246,246);
	font-family: 'lato';
	text-transform: uppercase;
	font-size: .8em;
	font-weight: 400;
}
nav ul li {
	display: inline-block;
	padding: 15px;
	margin: 0;
}

nav ul li a {
	color: rgba(0,0,0,.5);
}
nav ul li a:link{
	display: inline-block;
	color: rgba(0,0,0,.5);
}
nav ul li a:hover{
	color: rgba(0,0,0,.8);
}

li {list-style: none;}

h1 {
	font-family: 'lato-ultra-light';
	font-size: 1.6em;
	letter-spacing: 2px;
	line-height: 1.1em;
}

section {
	width: 90%;
	clear:both;
}

footer p {
	font-size: .8em;
	padding-top: 20px;
	padding-bottom: 15px;
	color: #000;
	font-family: 'lato-light';
	width: 85%;
}

a:link{text-decoration: none;}
a:hover{
	color: white;
	opacity: 1;
}

/* Containers and columns */
#wrapper {width: 85%;}

#main {
	background-color: rgba(0,0,0,.7);
	padding-top: 120px;
}

#nav-container{
	width: 100%;
	background-color: rgb(246,246,246);
	border-bottom: 1px solid #ddd;
	position: fixed;
}

#photo{
	width: 30%;
	height: auto;
	float: left;
	margin-left: 2.2%;
}

#photo img{
	width: 90%;
	height: auto;
}

.section {
	clear: both;
	padding: 20px;
	margin: 0px;
}

.col {
	display: block;
	float: left;
	margin: 1% 0 1% 1.6%;
}

.col:first-child{margin-left: 0;}

.group:before,
.group:after{
	content: "";
	display: table;
}
.group:after {
	clear: both;
}

.span_2_of_3 {width: 66.1%;}
.span_1_of_3 {width: 32.2%;}

/* Classes */
.slidedown {
	font-size: 1em;
	letter-spacing: 2px;
	font-variant: small-caps;
	font-family: 'lato-light';
}
.gray {background-color: #eee;}

.less, 
.more {display: none;}

.tagline {
	text-transform: uppercase;
	font-size: 120px;
	letter-spacing: 7px;
	font-weight: 100;
	float: right;
	font-family: 'lato-ultra-light';
}

.small {
	font-size: 20px;
	letter-spacing: 4px;
	font-variant: small-caps;
	font-family: 'lato';
	float: right;
}

.content {
	width: 70%;
	line-height: 1.4em;
	border-bottom: 1px solid rgba(255,255,255,.4);
	padding-bottom: 25px;
	padding-top: 10px;
}

/* Social buttons */
#projects i {padding-right: 5px;}

.social {
	text-align: center;
	margin: 0 auto;
	display: block;	
}

.social a {padding: 10px;}
.social a:link { 
	text-decoration: none;
	display: inline-block;
	opacity: .4;
}
.social a:hover {opacity: 1;}

/*  Slideshow */
.slide-container {
	max-width: 700px;
	max-height: 400px;
	margin: 0 auto;
	width: 100%;
	padding-top: 120px;
	padding-bottom: 20px; 
	font: 'lato';	
 }

.slide-container a:hover{
	color: black;
}	

#slides {
      display: none
    }
    
    img {
    	border: 1 px solid #ccc;
    }

    .container {
      margin: 0 auto
    }

    .slidesjs-navigation {
    	padding-right: 10px;
    }

    .slidesjs-pagination-item {
    	display: none;
    }



/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px){
/*470px) {*/
	.col {margin: 1% 0 1% 0%;}
	
	.span_3_of_3 {width: 100%; 
	}
	.span_2_of_3 {width: 100%; }
	.span_1_of_3 {width: 100%;}
	.tagline{
		width: 100%;
		font-size: 60px;
		text-align: center;
	}
	.small {
		width: 100%;
		font-size: 10px;
		text-align: center;
	}
	.content {width: 100%;}
	
	nav {width: 100%;}

	nav ul li {padding:5px;}
}

@media (min-width: 471px) and (max-width: 767px) {
	nav {
		max-width: 767px;
		width: 100%;
	}
	.content {
		width: 90%;
	}
	.tagline {
		font-size: 70px;
		text-align: right;
	}
	.small {
		font-size: 16px;
		width: auto;
}	
}

@media (min-width: 1200px){
	.tagline {font-size: 160px;}
}



