/* TYPOGRAPHY */
@font-face{
	font-family: lato-light;
	src: url('Lato-Lig.ttf');
}

@font-face{
	font-family: lato-ultra-light;
	src: url('Lato-Hai.ttf');
}

@font-face{
	font-family: lato;
	src: url('Lato-Reg.ttf');
}

/* GLOBAL STYLES */
* {
	margin: 0 auto;
	letter-spacing: 1px;
	color: #b4b3b3;
}

body {
	font-family: 'lato-light', helvetica, sans-serif;
	font-size: 16px;
	background-color: #eee;
}

body,html {
	height: auto;
	min-height: 100%;
}

nav {
	width: 76.5%;
	background: rgb(246,246,246);
	font-family: 'lato';
	text-transform: uppercase;
	font-size: .8em;
	font-weight: 400;
}
nav ul li {
	display: inline-block;
	padding: 15px;
	margin: 0;
}

nav ul li a {
	color: rgba(0,0,0,.5);
}

nav ul li a:link{
	display: inline-block;
	color: rgba(0,0,0,.5);
}

nav ul li a:hover{
	color: rgba(0,0,0,.8);
}


li {
	list-style: none;
}

h1 {
	font-family: 'lato-ultra-light';
	font-size: 1.6em;
	letter-spacing: 2px;
	line-height: 1.1em;
}

h2 {
	float: right;
}

h3 {
	font-size: 1em;
	letter-spacing: 2px;
	font-variant: small-caps;
	font-family: 'lato-light';
}

footer p {
	font-size: .8em;
	padding-top: 20px;
	padding-bottom: 15px;
	color: #000;
	font-family: 'lato-light';
	width: 85%;
}

a:link{
	text-decoration: none;
}
a:hover{
	color: white;
	opacity: 1;
}

/* CONTAINERS AND LAYOUT */

#wrapper {
	width: 85%;
}

#main {
	background-color: rgba(0,0,0,.7);
	padding-top: 120px;
}

#nav-container{
	width: 100%;
	background-color: rgb(246,246,246);
	border-bottom: 1px solid #ddd;
	position: fixed;
}

#photo-container, 
section {width: 90%;
clear:both;}

#container{
	width: 100%;
	display: inline-block;
}

.container-left{
	width: 35%;
	float: left;
}

.container-left img {
	width: 200px;
	float: right;
	margin-right: 15%;
	padding-top: 20px;

}

.container-right{
	width: 55%;
	float: right;
	margin-right: 10%;
}

/* CLASSES */

.gray {background-color: #eee;}

.less, 
.more {display: none;}

.tagline {
	text-transform: uppercase;
	font-size: 120px;
	letter-spacing: 7px;
	font-weight: 100;
	float: right;
}

.small {
	font-size: 1.4em;
	letter-spacing: 4px;
	font-variant: small-caps;
	font-family: 'lato';
	float: right;
}

.content {
	width: 70%;
	line-height: 1.4em;
	border-bottom: 1px solid rgba(255,255,255,.4);
	padding-bottom: 25px;
	padding-top: 10px;
}

/* SOCIAL BUTTONS */

#projects i {padding-right: 5px;}

.social {
	text-align: center;
	margin: 0 auto;
	display: block;	
}

.social a {padding: 10px;}

.social a:link{
	text-decoration: none;
	display: inline-block;
	opacity: .4;
}

.social a:hover {opacity: 1;}

/*  SLIDESHOW 	============================================================================= */

.slide-container {
	width: 700px;
	height: 400px;
	margin: 0 auto;
	padding-top: 120px;
	/*padding-bottom: 50px; */
	font: 'lato';	
	
 }

.slide-container a:hover{
	color: black;
}	

#slides {
      display: none
    }

    img {
    	border: 1 px solid #ccc;
    }

    /* Center the slideshow */
    .container {
      margin: 0 auto
    }

    .slidesjs-navigation {
    	padding-right: 10px;
    }

    .slidesjs-pagination-item {
    	display: none;
    }

    /* Media queries for a responsive layout */

    /* For tablets & smart phones */
/*    @media (max-width: 767px) {
      body {
        padding-left: 10px;
        padding-right: 10px;
      }
      .container {
        width: auto
      }
    }*/

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 500px) {
	nav {
		max-width: 480px;
		width: 100%;
	}
	.container-left, .container-right{
		width: 100%;
		max-width: 480px;
		margin: 0 auto;
		text-align: center;

	}

	.tagline {
		width: 100%;
		font-size: 60px;
		text-align: center;
		margin: 0 auto;
	}
	.small {
		width: 100%;
		font-size: 12px;
		margin: 0 auto;
	}

	body {
		font-size: 14px;
	}

	.content {
		width: 90%;
	}
}

@media (min-width: 481px) and (max-width: 767px) {
	nav {
		max-width: 767px;
		width: 100%;
	}
	#photo-container {
		max-width: 767px;
		width: 90%;
	}

	.container-left img{
		max-width: 256px;
		width: auto;
		margin: 0;

	}

	.container-right{
		margin: 0;
		max-width: 511px;
		width: auto;
	}

	.container-left img{
		width: 60%;
	}


	.content {
		width: 90%;
	}
	.tagline{
		font-size: 70px;
		text-align: justify;
	}
	.small {
		font-size: 12px;
		text-align: right;
}

	
}









