<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Grace Wong">
  <meta name="author" content="Grace Wong">
	<title>Grace Wong</title>
  <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet" type=text/css>
  <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  {% block header %}
  {% endblock %}
</head>

<body>
  <!--fixed navbar --> 
  <div id="nav-container">
    <nav>
        <ul>    
            <li class="gray"><a href="http://www.cubgraphica.com/">Home</a></li>
                <li><a href="http://www.cubgraphica.com/#about">About</a></li>
                <li><a href="http://www.cubgraphica.com/#projects">Projects</a></li>
                <li><a href="http://www.cubgraphica.com/#contact">Contact</a></li>
          </ul>
    </nav>
  </div>

{% block body %}
{% endblock %}


<footer>
  <p>&copy 2013 Grace Wong</p>
</footer>
</body>
</html>