<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Grace Wong">
	<meta name="author" content="Grace Wong">
	<title>Grace Wong</title>
	<link href="../static/style.css" rel="stylesheet">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>

<body>
	<!--fixed navbar -->
	<div id="nav-container">
		<nav>
    		<ul>		
       			<li class="gray"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
       		</ul>
		</nav>
	</div>
	
	<div id="wrapper">	
		<div id="main">
			<div id="photo-container">
				<div id="container">
					<div id="container-left">
						<img src="../static/images/bw_circle.png" alt="Grace Wong"/>
					</div>
					<div id="container-right">
						<h1 class="tagline">Grace</h1><br>
						<h1 class="tagline">Wong</h1><br>
						<h2 class="small">{ developer \\ storyteller }</h2>
					</div>
				</div>
			</div>	<!--end photo-container-->	
			
			<section>
				<div id="about" class="content">
					<h1>about</h1><br>
					tl;dr<br>
					I used to be a journalist. Now I'm a programmer. I made the transition because I love the challenge of technical thinking and it's pretty awesome to point to something and say, "I built that!"
					<br>

					<div class="details"><a href="#more"><h3>more</h3></a></div>
					<div class="more"><br>
					

					I'm a storyteller who's expanding her toolbox. In my previous life, I worked as an online journalist, covering breaking news and features.
					
					I took a HTML and CSS class on a whim, loved it, and found my way to <a href="http://www.hackbrightacademy.com" target="_blank">Hackbright Academy</a>, a 10-week program that aims to make women awesome programmers. At Hackbright, I rapidly learned new skills, including Python and Flask, and built my first project from scratch. <br><br>
				
					I'm interested in the way technology is changing the way people connect with each other and information, and I'm excited to finally have found what I'm interested in doing - which is building usable and beautiful web applications. I'm a generalist at heart and enjoy working on products people love.<br>
					</div>
					<div class="less"><a href="#"><h3>less</h3></a><br></div>	
				</div>
				<div id="projects" class="content">
					<h1>projects</h1><br>
						<ul>
							<li>
								<i class="icon-angle-right"></i> 
								<a href="http://www.github.com/gwongz">Github</a> - what I'm working on
							</li>
							<li>
								<i class="icon-angle-right"></i> 
								<a href="https://github.com/gwongz/font_seeker">Font Seeker</a> - a Shazam for fonts built with Python, SQLAlchemy, Flask, PIL, SimpleCV and AJAX on the front-end 
							</li>
							<li>
								<i class="icon-angle-right"></i> 
								<a href="portfolio.html">Editorial</a> - stories I've written
							</li>
						<ul>
				</div>	
				<div id="contact" class="content">
					<h1>contact</h1><br>
						I'm currently available for new projects. 
						<a href="mailto:gwongz@gmail.com?Subject=from website" target="_blank">Email</a> me to talk about your project or just to say hello.<br><br>
					
					<span class="social">
						<a href="http://www.twitter.com/gwongz" target="_blank">
						<i class="icon-twitter icon-3x"></i>
						</a>	
					
						<a href="http://github.com/gwongz" target="_blank">
						<i class="icon-github icon-3x"></i>
						</a>
					
						<a href="http://linkedin.com/in/gracewong1" target="_blank">
						<i class="icon-linkedin icon-3x"></i>
						</a>
					
						<a href="mailto:gwongz@gmail.com?Subject=from website">
						<i class="icon-envelope icon-3x"></i>
						</a>
					</span>
				</div>
			</section>
		</div><!-- end main-->
		<footer>
			<p>&copy 2013 Grace Wong</p>
		</footer>
	</div><!--end wrapper-->

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
	</script>
	
	<script>
		$(document).ready(function() {
			var more = $("div.more")
			var less = $("div.less")

			$("div.details a").click(function() {
					$(this).hide();
					$(more).slideDown(1000);
					$(less).show();	
				});

			$("div.less").click(function() {
					$(this).hide();
					$(more).slideUp(1000);
					$("div.details a").show(100);
				});
		});

	</script>
</body>
</html>

