{% extends "base.html" %}

{% block body %}

  <!-- define the width of the slideshow -->
  <!-- <div class="slide-container"> -->
  <div class="slide-container">
    <!-- <div class="container"> -->
    <div id="slides">
      {% for story in stories %}
        <a href="{{story['url']}}">
        <img src="{{url_for('static', filename='images/'+story['img']) }}"></a>
      {% endfor %}
    </div>
  </div>

  
 
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="{{url_for('static', filename='js/jquery.slides.min.js')}}"></script>
  <script>
    $(document).ready (function() {
      $('#slides').slidesjs({
        width: 700,
        height: 400,
        navigation: {
          effect: "fade"
        },
        pagination: {
          effect: "fade"
        },
        effect: {
          fade: {
            speed: 400
          }
        }
      });
    });
  </script>
<!--   </div> -->

{% endblock %}

